$card-background : #191919;
$card-color: #fafafa;
$text-first-color-card: rgba(0,0,0,0.1);
$text-second-color-card: #ffce00;

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 170px;
    display: flex;
    position: relative;

}

.product_container {
    display: flex;
    flex-direction: column;
    padding-top: 5vw;
}
.card{
    border-radius: 20px;
    overflow: hidden;
    margin: 2vw;
    padding: 10px;
    box-shadow: 3px 8px 20px 0px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    img {
        max-width: 450px;
        max-height: 450px;
    }
    
}


.product_info {
    display: flex;
    flex-direction: column;
    margin-top: 6vw;;
}

.title {
    font-weight: 600;
    font-size: 32px;
    color: $text-second-color-card;
    letter-spacing: -1px;
    margin-bottom: 1vw;
}

.decript {
    font-size: 12px;
    color: #99b3c8;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
    line-height: 1.5rem;
}

.price {
    font-size: 26px;
    font-weight: 600;
    color: $text-second-color-card;
    margin-right: 20px;
    p{
        font-size: 26px;
        font-weight: 400;
        color: #99b3c8;
        margin-right: 20px;
    }
}

.count {
    font-size: 26px;
    font-weight: 600;
    color: $text-second-color-card;
    margin-right: 20px;
    p{
        font-size: 26px;
        font-weight: 400;
        color: #99b3c8;
        margin-right: 20px;
    }

}

.rating {
  
        font-size: 26px;
        font-weight: 600;
        color: $text-second-color-card;
        margin-right: 20px;
        p{
            font-size: 26px;
            font-weight: 400;
            color: #99b3c8;
            margin-right: 20px;
        }
    
    }


.cart_btn {
    display: inline-block;
    background-color: #969c9a;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 600;
    color: $text-second-color-card;
    text-decoration: none;
    padding: 12px;
    transition: all .5s;
    cursor: pointer;
    max-width: 30%;
    margin-top: 2vw;
    min-width: 100px;
  }
  .cart_btn:hover {
    background-color: #d3b739;
    color: #191919;
  }


  
      
  
  

  