$card-background : #191919;
$card-color: #ffffff;
$text-first-color-card: rgba(0,0,0,0.1);
$text-second-color-card: #ffce00;


.card{
    position: relative;
    width: 320px;
    height: 420px;
    background: $card-background;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 3px 8px 20px 0px rgba(0, 0, 0, 0.7);
    &::before{
        content: '';
        position: absolute;
        top: -50%;
        width: 100%;
        height: 100%;
        background: $card-color;
   
        transform: skewY(345deg) !important;
        transition: 0.5s;
    }
    &:hover::before{
        top: -60%;

        transform: skewY(390deg) !important;
    }
    &::after{
        content:'';
        position: absolute;
        bottom: 0;
        left: 0;
        font-weight: 600;
        font-size: 6.5em;
        color: $text-first-color-card;
    }
    & .card_product{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        z-index: 1;
        & img{
            width: 50%;
            height: 200px;
            transition: 0.5s;
            border-radius: 10px;
        }
    }
    &:hover{
        
        .card_infos .buy{
            top: 10px;
            opacity: 1;
        }
    }
    & .card_infos{
        position: relative;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        & h3{
            font-size: 14px;
            color: #635858;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1px;
    
        }
        & .price{
            font-size: 24px;
            color: $text-second-color-card;
            font-weight: 500;
            letter-spacing: 1px;
        }
        & .buy{
            position: relative;
            top: 200px;
            opacity: 0;
            padding: 10px 30px;
            margin-top: 15px;
            color: #050505;
            text-decoration: none;
            background: yellow;
            border-radius: 30px;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: 0.5s;
        }
    }
}